*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Lato;
}
nav{
    background-color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2% 1%;
}
nav a{
    text-decoration: none;
    color: white;
    border: 1px solid transparent;
    padding: 5px 2px;
}
nav a.active{
    color: black;
    background-color: white;
}
nav a:hover{
    color: white;
    text-decoration: underline;
    font-size: 1.1rem;
}
.logo img{
    width: 30%;
}
#home{
  height: 100vh;
  background-color: black;
}
#home .container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 2%;
    margin-top: 5%;
    background-color: black;
}
#home .container .text{
    background-color: black;
    color: white;
    font-size: 1rem;
    /* height: 270px;
    width: 100%; */
    line-height: 1.5;
}
.quotes{
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-gap: 1%;
}
.notepaper {
  position: relative;
  margin: 30px auto;
  padding: 29px 20px 20px 45px;
  width: 280px;
  line-height: 30px;
  color: #6a5f49;
  text-shadow: 0 1px 1px white;
  background-color: #f2f6c1;
  background-image: -webkit-radial-gradient(center, cover, rgba(255, 255, 255, 0.7) 0%, rgba(255, 255, 255, 0.1) 90%), -webkit-repeating-linear-gradient(top, transparent 0%, transparent 29px, rgba(239, 207, 173, 0.7) 29px, rgba(239, 207, 173, 0.7) 30px);
  background-image: -moz-radial-gradient(center, cover, rgba(255, 255, 255, 0.7) 0%, rgba(255, 255, 255, 0.1) 90%), -moz-repeating-linear-gradient(top, transparent 0%, transparent 29px, rgba(239, 207, 173, 0.7) 29px, rgba(239, 207, 173, 0.7) 30px);
  background-image: -o-radial-gradient(center, cover, rgba(255, 255, 255, 0.7) 0%, rgba(255, 255, 255, 0.1) 90%), -o-repeating-linear-gradient(top, transparent 0%, transparent 29px, rgba(239, 207, 173, 0.7) 29px, rgba(239, 207, 173, 0.7) 30px);
  border: 1px solid #c3baaa;
  border-color: rgba(195, 186, 170, 0.9);
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-box-shadow: inset 0 1px rgba(255, 255, 255, 0.5), inset 0 0 5px #d8e071, 0 0 1px rgba(0, 0, 0, 0.1), 0 2px rgba(0, 0, 0, 0.02);
  box-shadow: inset 0 1px rgba(255, 255, 255, 0.5), inset 0 0 5px #d8e071, 0 0 1px rgba(0, 0, 0, 0.1), 0 2px rgba(0, 0, 0, 0.02);
}

.notepaper:before, .notepaper:after {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
}

.notepaper:before {
  left: 28px;
  width: 2px;
  border: solid #efcfad;
  border-color: rgba(239, 207, 173, 0.9);
  border-width: 0 1px;
}

.notepaper:after {
  z-index: -1;
  left: 0;
  right: 0;
  background: rgba(242, 246, 193, 0.9);
  border: 1px solid rgba(170, 157, 134, 0.7);
  -webkit-transform: rotate(2deg);
  -moz-transform: rotate(2deg);
  -ms-transform: rotate(2deg);
  -o-transform: rotate(2deg);
  transform: rotate(2deg);
}

.quote {
  font-family: Georgia, serif;
  font-size: 14px;
}

.curly-quotes:before, .curly-quotes:after {
  display: inline-block;
  vertical-align: top;
  height: 30px;
  line-height: 48px;
  font-size: 50px;
  opacity: .2;
}

.curly-quotes:before {
  content: '\201C';
  margin-right: 4px;
  margin-left: -8px;
}

.curly-quotes:after {
  content: '\201D';
  margin-left: 4px;
  margin-right: -8px;
}

.quote-by {
  display: block;
  padding-right: 10px;
  text-align: right;
  font-size: 13px;
  font-style: italic;
  color: #84775c;
}

.lt-ie8 .notepaper {
  padding: 15px 25px;
}
.join{
    text-align: center;
}
.center{
    text-align: center;
}
.quotes{
    padding: 5% 5%;
}
.about-text{
    padding: 2% 2%;
    line-height: 2;
}
#services{
    margin: 10%;
    padding: 5%;
    text-align: center;
    background-color: black;
    color: white;
    line-height: 2;
}
#services:hover{
    padding: 7%;
}
.pod{
    padding: 0% 2%;
}
.icons{
    margin-top: 1%;
}
#contact{
    width: 250px;
    background: #fff;
    padding: 50px;
    margin: 100px auto;
    border-radius: 30px;
    position: relative;
  }
  
  .title h1{
    color: #535274;
    letter-spacing: 5px;
    margin-bottom: 25px;
    text-align: center;
  }
  
  .form,
  .form-items{
    width: 100%;
  }
  
  .form-items .input{
    width: 100%;
    margin-bottom: 12px;
    padding: 15px 40px;
    box-sizing: border-box;
    background: #ebeef1;
    border: 0px;
    outline: none;
    border-radius: 30px;
  }
  
  .form-items .input.message{
    height: 125px;
    border-radius: 15px;
    margin-bottom: 30px;
    padding: 15px 15px;
    resize: none;
  }
  
  .btn{
    background: #827ffe;
    text-align: center;
    color: #fff;
    padding: 12px;
    border-radius: 25px;
    cursor: pointer;
  }
  .btn2{
    background: white;
    text-align: center;
    color: #000;
    padding: 12px;
    /* border-radius: 25px; */
    cursor: pointer;
    margin-top: 3%;
  }
  
  .btn .fas{
    margin-left: 10px;
    font-size: 12px;
  }
  
  .form-items{
    position: relative;
  }
  
  .form-items .fas{
    position: absolute;
    top: 15px;
    left: 15px;
    color: #9a99aa;
  }
  
  .social-icons{
    position: absolute;
    bottom: -25px;
    left: 50%;
    width: 200px;
    transform: translateX(-50%);
    display: flex;
    justify-content: space-around;
  }
  
  .social-icons div{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    position: relative;
    cursor: pointer;
  }
  
  
  .social-icons div .fab{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: #fff;
  }
  
  .social-icons div.facebook{
    background: #5178d9;
  }
  
  .social-icons div.twitter{
    background: #41caf6;
  }
  
  .social-icons div.instagram{
    background: #FF8C00;
  }

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
  padding-top: 2%;
  display: none;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}
.mySlides img{
  background-size: cover;
  /* background-repeat: no-repeat;s */
}

@media screen and (min-width: 700px) {
    nav a{
      padding: 15px 20px;
    }
    #home .container{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        /* grid-gap: 2%; */
        margin-top: 0%;
    }
    #home .container .img img{
        margin: auto;
        display: flex;
        align-items: center;
        align-content: center;
    }
    #home .container .img{
        background-color: black;
        margin-top: -0.7%;
    }
    #home .container .text{
        font-size: 1.1rem;
    }
    .quotes{
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-gap: 1%;
    }
    .slideshow-container{
      display: block;
    }
  }
@media screen and (max-width: 470px) {
    #home .container{
        display: block;
        margin-top: 0;
    }
    #home .container .img img{
        display: none;
    }
    nav .anchor-tags{
        display: none;
    }
    nav .logo{
        margin: auto;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    nav .logo img{
        margin: auto;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}